[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
coveralls = "*"

[packages]
django = "~=3.1"
djangorestframework = "~=3.11"
django-cors-headers = "~=3.5"
django-ckeditor = "~=6.0"
pillow = "~=7.2"

[requires]
python_version = "3.8"
